body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: bisque;
}

.back-cover{
    justify-content: center;
    align-items: center;
    position: relative;
    width: 55%;
    margin-left: 20%;
}

.form {
    border-style: ridge;
    border-radius: 10px;
    width: 20%;
    position: relative;
    margin-left: 39%;
    text-align: center;
    background-color: white;
}